<?xml version="1.0" encoding="utf-8"?>
<!--
 This file is part of BlocoDroid.

  BlocoDroid is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  BlocoDroid is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with BlocoDroid.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.jawsys.mobile.blocodroid" android:versionName="1.4.2"
	android:versionCode="8">

	<application android:icon="@drawable/creep003"
		android:label="@string/app_name" android:persistent="true"
		android:description="@string/descricaoApp" android:debuggable="false">

		<uses-library android:name="com.google.android.maps" />

		<service android:name=".services.AvisaBlocosProximosService" />

		<activity android:name=".activities.Main" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activities.PorBlocos" android:label="@string/botaoBloco"
			android:screenOrientation="portrait" />
		<activity android:name=".activities.Opcoes" android:label="@string/botaoOpcoes"
			android:screenOrientation="portrait" />
		<activity android:name=".activities.PorAgrupamento"
			android:screenOrientation="portrait" />
		<activity android:name=".activities.MostraBloco"
			android:screenOrientation="portrait" />
		<activity android:name=".activities.PorProximidade"
			android:screenOrientation="portrait" />
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.STATUS_BAR" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<uses-sdk android:minSdkVersion="7" />

</manifest>
